/*********GENERAL***********/
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0;
}
a {text-decoration: none;}

/***********HEADER***********/
#header {background-color: #ffcc99;}

h1 { font-size: 36px;
    color: #ff0000;
    margin: 0;
    text-align: center;
    padding: 15px 0 0 0;
    text-transform: uppercase;
}

h2 { color: #100444;
    text-align: center;
    margin: 0;

}
#nav {background-color: #eb9413;
    text-align: center;
    list-style-type:none;
}
#nav li {display: inline-block;
    padding: 6px 8px;
}

#nav li a {
    color: #ffffff;
}

#nav li:hover {
    background-color: #aa6702;
}

/************CONTENT*******************/

#content {
    width: 600px;
    margin: 30px auto;
}
h3 {
    text-align: center;
}

#content h4 {
    border-bottom: #eb9413 solid 3px;
    text-align: center;
}